In [ ]:
# DICTIONARY DATATYPE ASSIGNMENT - 50 QUESTIONS
# ============================================

# SOLVED EXAMPLE
# --------------
# Question: Find the key with maximum value in a dictionary
print("SOLVED EXAMPLE:")
print("Find the key with maximum value in a dictionary")
scores = {'Alice': 85, 'Bob': 92, 'Charlie': 78, 'Diana': 95, 'Eve': 88}
max_key = max(scores, key=scores.get)
max_value = scores[max_key]
print(f"Dictionary: {scores}")
print(f"Key with maximum value: {max_key}")
print(f"Maximum value: {max_value}")
print("-" * 50)

SOLVED EXAMPLE:
Find the key with maximum value in a dictionary
Dictionary: {'Alice': 85, 'Bob': 92, 'Charlie': 78, 'Diana': 95, 'Eve': 88}
Key with maximum value: Diana
Maximum value: 95
--------------------------------------------------

In [ ]:
# ASSIGNMENT QUESTIONS (50 QUESTIONS)
# ==================================

# Question 1: Create a dictionary of student names and their ages
print("Question 1: Create a dictionary of student names and their ages\n")
# Your code here
students = {'Alice': 15, 'Bob': 16, 'Charlie': 17, 'Diana': 15, 'Eve': 16}
print(students)
print("-" * 50)

Question 1: Create a dictionary of student names and their ages

{'Alice': 15, 'Bob': 16, 'Charlie': 17, 'Diana': 15, 'Eve': 16}
--------------------------------------------------

In [ ]:
# Question 2: Add a new key-value pair to dictionary {'a': 1, 'b': 2, 'c': 3}
print("\nQuestion 2: Add a new key-value pair to dictionary {'a': 1, 'b': 2, 'c': 3}")
# Your code here
my_dict = {'a': 1, 'b': 2, 'c': 3}
my_dict['d'] = 4
print(my_dict)
print("-" * 50)

Question 2: Add a new key-value pair to dictionary {'a': 1, 'b': 2, 'c': 3}
{'a': 1, 'b': 2, 'c': 3, 'd': 4}
--------------------------------------------------

In [ ]:
# Question 3: Get all keys from dictionary {'name': 'John', 'age': 25, 'city': 'New York'}
print("\nQuestion 3: Get all keys from dictionary {'name': 'John', 'age': 25, 'city': 'New York'}")
# Your code here
my_dict = {'name': 'John', 'age': 25, 'city': 'New York'}
print(my_dict.keys())
print("-" * 50)

Question 3: Get all keys from dictionary {'name': 'John', 'age': 25, 'city': 'New York'}
dict_keys(['name', 'age', 'city'])
--------------------------------------------------

In [ ]:
# Question 4: Get all values from dictionary {'python': 3, 'java': 2, 'c++': 1}
print("\nQuestion 4: Get all values from dictionary {'python': 3, 'java': 2, 'c++': 1}")
# Your code here
my_dict = {'python': 3, 'java': 2, 'c++': 1}
print(my_dict.values())
print("-" * 50)

Question 4: Get all values from dictionary {'python': 3, 'java': 2, 'c++': 1}
dict_values([3, 2, 1])
--------------------------------------------------

In [ ]:
# Question 5: Check if key 'age' exists in {'name': 'Alice', 'age': 30, 'city': 'London'}
print("\nQuestion 5: Check if key 'age' exists in {'name': 'Alice', 'age': 30, 'city': 'London'}")
# Your code here
my_dict = {'name': 'Alice', 'age': 30, 'city': 'London'}
print('age' in my_dict)
print("-" * 50)

Question 5: Check if key 'age' exists in {'name': 'Alice', 'age': 30, 'city': 'London'}
True
--------------------------------------------------

In [ ]:
# Question 6: Remove key 'temp' from {'a': 1, 'b': 2, 'temp': 3, 'c': 4}
print("\nQuestion 6: Remove key 'temp' from {'a': 1, 'b': 2, 'temp': 3, 'c': 4}")
# Your code here
my_dict = {'a': 1, 'b': 2, 'temp': 3, 'c': 4}
my_dict.pop('temp')
print(my_dict)
print("-" * 50)

Question 6: Remove key 'temp' from {'a': 1, 'b': 2, 'temp': 3, 'c': 4}
{'a': 1, 'b': 2, 'c': 4}
--------------------------------------------------

In [ ]:
# Question 7: Find the sum of all values in {'math': 85, 'science': 92, 'english': 78}
print("\nQuestion 7: Find the sum of all values in {'math': 85, 'science': 92, 'english': 78}")
# Your code here
my_dict = {'math': 85, 'science': 92, 'english': 78}
sum_values = sum(my_dict.values())
print(sum_values)
print("-" * 50)

Question 7: Find the sum of all values in {'math': 85, 'science': 92, 'english': 78}
255
--------------------------------------------------

In [ ]:
# Question 8: Create a dictionary with squares of numbers 1 to 5
print("\nQuestion 8: Create a dictionary with squares of numbers 1 to 5")
# Your code here
my_dict = {1 : 1, 2 : 4, 3 : 9, 4 : 16, 5 : 25}
print(my_dict)
print("-" * 50)

Question 8: Create a dictionary with squares of numbers 1 to 5
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}
--------------------------------------------------

In [ ]:
# Question 9: Count frequency of each character in string "hello"
print("\nQuestion 9: Count frequency of each character in string 'hello'")
# Your code here
my_string = 'hello'
my_dict = {}
for char in my_string:
    if char in my_dict:
        my_dict[char] += 1
    else:
        my_dict[char] = 1
print(my_dict)
print("-" * 50)

Question 9: Count frequency of each character in string 'hello'
{'h': 1, 'e': 1, 'l': 2, 'o': 1}
--------------------------------------------------

In [ ]:
# Question 10: Merge two dictionaries {'a': 1, 'b': 2} and {'c': 3, 'd': 4}
print("\nQuestion 10: Merge two dictionaries {'a': 1, 'b': 2} and {'c': 3, 'd': 4}")
# Your code here
my_dict = {'a': 1, 'b': 2}
my_dict.update({'c': 3, 'd': 4})
print(my_dict)
print("-" * 50)

Question 10: Merge two dictionaries {'a': 1, 'b': 2} and {'c': 3, 'd': 4}
{'a': 1, 'b': 2, 'c': 3, 'd': 4}
--------------------------------------------------

In [ ]:
# Question 11: Create a nested dictionary: {'person': {'name': 'Alice', 'age': 25}}
print("\nQuestion 11: Create a nested dictionary: {'person': {'name': 'Alice', 'age': 25}}")
# Your code here
my_dict = {'person': {'name': 'Alice', 'age': 25}}
print(my_dict)
print("-" * 50)

Question 11: Create a nested dictionary: {'person': {'name': 'Alice', 'age': 25}}
{'person': {'name': 'Alice', 'age': 25}}
--------------------------------------------------

In [ ]:
# Question 12: Access nested value 'name' from {'person': {'name': 'Alice', 'age': 25}}
print("\nQuestion 12: Access nested value 'name' from {'person': {'name': 'Alice', 'age': 25}}")
# Your code here
my_dict = {'person': {'name': 'Alice', 'age': 25}}
print(my_dict['person']['name'])
print("-" * 50)

Question 12: Access nested value 'name' from {'person': {'name': 'Alice', 'age': 25}}
Alice
--------------------------------------------------

In [ ]:
# Question 13: Create a dictionary with list values: {'fruits': ['apple', 'banana'], 'colors': ['red', 'blue']}
print("\nQuestion 13: Create a dictionary with list values: {'fruits': ['apple', 'banana'], 'colors': ['red', 'blue']}")
# Your code here
my_dict = {'fruits': ['apple', 'banana'], 'colors': ['red', 'blue']}
print(my_dict)
print("-" * 50)

Question 13: Create a dictionary with list values: {'fruits': ['apple', 'banana'], 'colors': ['red', 'blue']}
{'fruits': ['apple', 'banana'], 'colors': ['red', 'blue']}
--------------------------------------------------

In [ ]:
# Question 14: Add 'orange' to the 'fruits' list in nested dictionary
print("\nQuestion 14: Add 'orange' to the 'fruits' list in nested dictionary")
# Your code here
my_dict = {'fruits': ['apple', 'banana'], 'colors': ['red', 'blue']}
my_dict['fruits'].append('orange')
print(my_dict)
print("-" * 50)

Question 14: Add 'orange' to the 'fruits' list in nested dictionary
{'fruits': ['apple', 'banana', 'orange'], 'colors': ['red', 'blue']}
--------------------------------------------------

In [ ]:
# Question 15: Create a dictionary with tuple values: {'coordinates': (10, 20), 'rgb': (255, 0, 0)}
print("\nQuestion 15: Create a dictionary with tuple values: {'coordinates': (10, 20), 'rgb': (255, 0, 0)}")
# Your code here
my_dict = {'coordinates': (10, 20), 'rgb': (255, 0, 0)}
print(my_dict)
print("-" * 50)

Question 15: Create a dictionary with tuple values: {'coordinates': (10, 20), 'rgb': (255, 0, 0)}
{'coordinates': (10, 20), 'rgb': (255, 0, 0)}
--------------------------------------------------

In [ ]:
# Question 16: Extract first coordinate from nested tuple
print("\nQuestion 16: Extract first coordinate from nested tuple")
# Your code here
my_dict = {'coordinates': (10, 20), 'rgb': (255, 0, 0)}
print(my_dict['coordinates'][0])
print("-" * 50)

Question 16: Extract first coordinate from nested tuple
10
--------------------------------------------------

In [ ]:
# Question 17: Create a dictionary with set values: {'vowels': {'a', 'e', 'i'}, 'consonants': {'b', 'c', 'd'}}
print("\nQuestion 17: Create a dictionary with set values: {'vowels': {'a', 'e', 'i'}, 'consonants': {'b', 'c', 'd'}}")
# Your code here
my_dict = {'vowels': {'a', 'e', 'i'}, 'consonants': {'b', 'c', 'd'}}
print(my_dict)
print("-" * 50)

Question 17: Create a dictionary with set values: {'vowels': {'a', 'e', 'i'}, 'consonants': {'b', 'c', 'd'}}
{'vowels': {'e', 'i', 'a'}, 'consonants': {'b', 'd', 'c'}}
--------------------------------------------------

In [ ]:
# Question 18: Add 'o' to vowels set in nested dictionary
print("\nQuestion 18: Add 'o' to vowels set in nested dictionary")
# Your code here
my_dict = {'vowels': {'a', 'e', 'i'}, 'consonants': {'b', 'c', 'd'}}
my_dict['vowels'].add('o')
print(my_dict)
print("-" * 50)

Question 18: Add 'o' to vowels set in nested dictionary
{'vowels': {'e', 'i', 'a', 'o'}, 'consonants': {'b', 'd', 'c'}}
--------------------------------------------------

In [ ]:
# Question 19: Create a 3-level nested dictionary: {'company': {'department': {'employee': {'name': 'John', 'id': 123}}}}
print("\nQuestion 19: Create a 3-level nested dictionary: {'company': {'department': {'employee': {'name': 'John', 'id': 123}}}}")
# Your code here
my_dict = {'company': {'department': {'employee': {'name': 'John', 'id': 123}}}}
print(my_dict)
print("-" * 50)

Question 19: Create a 3-level nested dictionary: {'company': {'department': {'employee': {'name': 'John', 'id': 123}}}}
{'company': {'department': {'employee': {'name': 'John', 'id': 123}}}}
--------------------------------------------------

In [ ]:
# Question 20: Access employee name from 3-level nested dictionary
print("\nQuestion 20: Access employee name from 3-level nested dictionary")
# Your code here
my_dict = {'company': {'department': {'employee': {'name': 'John', 'id': 123}}}}
print(my_dict['company']['department']['employee']['name'])
print("-" * 50)

Question 20: Access employee name from 3-level nested dictionary
John
--------------------------------------------------

In [ ]:
# Question 21: Create a dictionary with mixed data types: {'int': 42, 'float': 3.14, 'str': 'hello', 'bool': True}
print("\nQuestion 21: Create a dictionary with mixed data types: {'int': 42, 'float': 3.14, 'str': 'hello', 'bool': True}")
# Your code here
my_dict = {'int': 42, 'float': 3.14, 'str': 'hello', 'bool': True}
print(my_dict)
print("-" * 50)

Question 21: Create a dictionary with mixed data types: {'int': 42, 'float': 3.14, 'str': 'hello', 'bool': True}
{'int': 42, 'float': 3.14, 'str': 'hello', 'bool': True}
--------------------------------------------------

In [ ]:
# Question 22: Check data type of each value in mixed dictionary
print("\nQuestion 22: Check data type of each value in mixed dictionary")
# Your code here
my_dict = {'int': 42, 'float': 3.14, 'str': 'hello', 'bool': True}
for key, value in my_dict.items():
    print(f"{key}: {type(value)}")

In [ ]:
# Question 23: Create a dictionary with function values: {'len': len, 'str': str, 'int': int}
print("\nQuestion 23: Create a dictionary with function values: {'len': len, 'str': str, 'int': int}")
# Your code here
my_dict = {'len': len, 'str': str, 'int': int}
print(my_dict)
print("-" * 50)

Question 23: Create a dictionary with function values: {'len': len, 'str': str, 'int': int}
{'len': <built-in function len>, 'str': <class 'str'>, 'int': <class 'int'>}
--------------------------------------------------

In [ ]:
# Question 24: Apply each function to "123" using dictionary
print("\nQuestion 24: Apply each function to '123' using dictionary")
# Your code here
my_dict = {'len': len, 'str': str, 'int': int}
my_string = '123'
for func_name, func in my_dict.items():
    result = func(my_string)
    print(f"{func_name}({my_string}) = {result}")
print("-" * 50)

Question 24: Apply each function to '123' using dictionary
len(123) = 3
str(123) = 123
int(123) = 123
--------------------------------------------------

In [ ]:
# Question 25: Create a dictionary with lambda functions: {'double': lambda x: x*2, 'square': lambda x: x**2}
print("\nQuestion 25: Create a dictionary with lambda functions: {'double': lambda x: x*2, 'square': lambda x: x**2}")
# Your code here
my_dict = {'double': lambda x: x*2, 'square': lambda x: x**2}
print(my_dict)
print("-" * 50)

Question 25: Create a dictionary with lambda functions: {'double': lambda x: x*2, 'square': lambda x: x**2}
{'double': <function <lambda> at 0x7c40ab881a80>, 'square': <function <lambda> at 0x7c40ab8819e0>}
--------------------------------------------------

In [ ]:
# Question 26: Apply each lambda function to 5
print("\nQuestion 26: Apply each lambda function to 5")
# Your code here
my_dict = {'double': lambda x: x*2, 'square': lambda x: x**2}
for func_name, func in my_dict.items():
    result = func(5)
    print(f"{func_name}(5) = {result}")
print("-" * 50)

Question 26: Apply each lambda function to 5
double(5) = 10
square(5) = 25
--------------------------------------------------

In [ ]:
# Question 27: Create a dictionary with class values: {'list': list, 'dict': dict, 'set': set}
print("\nQuestion 27: Create a dictionary with class values: {'list': list, 'dict': dict, 'set': set}")
# Your code here
my_dict = {'list': list, 'dict': dict, 'set': set}
print(my_dict)
print("-" * 50)

Question 27: Create a dictionary with class values: {'list': list, 'dict': dict, 'set': set}
{'list': <class 'list'>, 'dict': <class 'dict'>, 'set': <class 'set'>}
--------------------------------------------------

In [ ]:
# Question 28: Create instances using class dictionary
print("\nQuestion 28: Create instances using class dictionary")
# Your code here
my_dict = {'list': list, 'dict': dict, 'set': set}
my_list = my_dict['list']([1, 2, 3])
my_dict_instance = my_dict['dict']({'a': 1, 'b': 2})
my_set = my_dict['set']({1, 2, 3})
print(my_list)
print(my_dict_instance)
print(my_set)
print("-" * 50)

Question 28: Create instances using class dictionary
[1, 2, 3]
{'a': 1, 'b': 2}
{1, 2, 3}
--------------------------------------------------

In [ ]:
# Question 29: Create a dictionary with None values: {'a': None, 'b': None, 'c': None}
print("\nQuestion 29: Create a dictionary with None values: {'a': None, 'b': None, 'c': None}")
# Your code here
my_dict = {'a': None, 'b': None, 'c': None}
print(my_dict)
print("-" * 50)

Question 29: Create a dictionary with None values: {'a': None, 'b': None, 'c': None}
{'a': None, 'b': None, 'c': None}
--------------------------------------------------

In [ ]:
# Question 30: Replace all None values with 0
print("\nQuestion 30: Replace all None values with 0")
# Your code here
my_dict = {'a': None, 'b': None, 'c': None}
my_dict['a'] = 0
my_dict['b'] = 0
my_dict['c'] = 0
print(my_dict)
print("-" * 50)

Question 30: Replace all None values with 0
{'a': 0, 'b': 0, 'c': 0}
--------------------------------------------------

In [ ]:
# Question 31: Create a dictionary with boolean values: {'is_active': True, 'is_admin': False}
print("\nQuestion 31: Create a dictionary with boolean values: {'is_active': True, 'is_admin': False}")
# Your code here
my_dict = {'is_active': True, 'is_admin': False}
print(my_dict)
print("-" * 50)

Question 31: Create a dictionary with boolean values: {'is_active': True, 'is_admin': False}
{'is_active': True, 'is_admin': False}
--------------------------------------------------

In [ ]:
# Question 32: Count True values in boolean dictionary
print("\nQuestion 32: Count True values in boolean dictionary")
# Your code here
my_dict = {'is_active': True, 'is_admin': False}
count = 0
count = list(my_dict.values()).count(True)
print(f"True values count: {count} ")
print("-" * 50)

Question 32: Count True values in boolean dictionary
True values count: 1
--------------------------------------------------

In [ ]:
# Question 35: Create a 4-level nested dictionary
print("\nQuestion 35: Create a 4-level nested dictionary")
# Your code here
my_dict = {'level1': {'level2': {'level3': {'level4': 'value'}}}}
print(my_dict)
print("-" * 50)

Question 35: Create a 4-level nested dictionary
{'level1': {'level2': {'level3': {'level4': 'value'}}}}
--------------------------------------------------

In [ ]:
# Question 36: Access deepest value in 4-level nested dictionary
print("\nQuestion 36: Access deepest value in 4-level nested dictionary")
# Your code here
my_dict = {'level1': {'level2': {'level3': {'level4': 'value'}}}}
deepest_value = my_dict['level1']['level2']['level3']['level4']
print(deepest_value)
print("-" * 50)

Question 36: Access deepest value in 4-level nested dictionary
value
--------------------------------------------------

In [ ]:
# Question 37: Create a dictionary with range values: {'r1': range(3), 'r2': range(5)}
print("\nQuestion 37: Create a dictionary with range values: {'r1': range(3), 'r2': range(5)}")
# Your code here
my_dict = {'r1': range(3), 'r2': range(5)}
print(my_dict)
print("-" * 50)

Question 37: Create a dictionary with range values: {'r1': range(3), 'r2': range(5)}
{'r1': range(0, 3), 'r2': range(0, 5)}
--------------------------------------------------

In [ ]:
# Question 38: Convert each range to list
print("\nQuestion 38: Convert each range to list")
# Your code here
my_dict = {'r1': range(3), 'r2': range(5)}
for key, value in my_dict.items():
    my_dict[key] = list(value)
    print(f"{key}: {my_dict[key]}")
print("-" * 50)

Question 38: Convert each range to list
r1: [0, 1, 2]
r2: [0, 1, 2, 3, 4]
--------------------------------------------------

In [ ]:
# Question 41: Create a dictionary with iterator values
print("\nQuestion 41: Create a dictionary with iterator values")
# Your code here
my_dict = {'r1': range(3), 'r2': range(5)}
for key, value in my_dict.items():
    my_dict[key] = iter(value)
    print(f"{key}: {my_dict[key]}")
print("-" * 50)

Question 41: Create a dictionary with iterator values
r1: <range_iterator object at 0x7e5c058e19b0>
r2: <range_iterator object at 0x7e5c058e1a70>
--------------------------------------------------