# LIST DATATYPE ASSIGNMENT - 50 QUESTIONS

## SOLVED EXAMPLE
## --------------
### Question: Find the maximum and minimum values in a list

In [2]:
print("SOLVED EXAMPLE:")
print("Find the maximum and minimum values in a list")
numbers = [23, 45, 12, 67, 34, 89, 56]
max_val = max(numbers)
min_val = min(numbers)
print(f"List: {numbers}")
print(f"Maximum: {max_val}")
print(f"Minimum: {min_val}")
print("-" * 50)

SOLVED EXAMPLE:
Find the maximum and minimum values in a list
List: [23, 45, 12, 67, 34, 89, 56]
Maximum: 89
Minimum: 12
--------------------------------------------------

# ASSIGNMENT QUESTIONS (50 QUESTIONS)
# ==================================
### Question 1: Create a list of first 10 square numbers

In [3]:
print("Question 1: Create a list of first 10 square numbers")
# Your code here
square_numbers = []
for i in range(1,11):
    square_numbers.append(i**2)
print(square_numbers)

Question 1: Create a list of first 10 square numbers
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### Question 2: Find the sum of all even numbers in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [4]:
print("\nQuestion 2: Find the sum of all even numbers in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]")
# Your code here
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
sum_even = 0
for num in numbers:
    if num % 2 == 0:
        sum_even += num
print(f"Sum of even numbers: {sum_even}")

Question 2: Find the sum of all even numbers in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Sum of even numbers: 30

In [5]:
# Question 3: Remove duplicates from [1, 2, 2, 3, 4, 4, 5, 6, 6, 7]
print("\nQuestion 3: Remove duplicates from [1, 2, 2, 3, 4, 4, 5, 6, 6, 7]")
# Your code here

number_list = [1, 2, 2, 3, 4, 4, 5, 6, 6, 7]
new_list = []
for num in number_list:
    if num not in new_list:
        new_list.append(num)
print(new_list)

Question 3: Remove duplicates from [1, 2, 2, 3, 4, 4, 5, 6, 6, 7]
[1, 2, 3, 4, 5, 6, 7]

In [6]:
# Question 4: Sort the list [64, 34, 25, 12, 22, 11, 90] in descending order
print("\nQuestion 4: Sort the list [64, 34, 25, 12, 22, 11, 90] in descending order")
# Your code here
numbers = [64, 34, 25, 12, 22, 11, 90]
numbers.sort(reverse=True)
print(numbers)

Question 4: Sort the list [64, 34, 25, 12, 22, 11, 90] in descending order
[90, 64, 34, 25, 22, 12, 11]

In [7]:
# Question 5: Find the average of numbers in [15, 23, 31, 42, 56, 78, 91]
print("\nQuestion 5: Find the average of numbers in [15, 23, 31, 42, 56, 78, 91]")
# Your code here
numbers = [15, 23, 31, 42, 56, 78, 91]
average = sum(numbers) / len(numbers)
print(f"Average: {average}")

Question 5: Find the average of numbers in [15, 23, 31, 42, 56, 78, 91]
Average: 48.0

In [8]:
# Question 6: Create a list of first 15 Fibonacci numbers
print("\nQuestion 6: Create a list of first 15 Fibonacci numbers")
# Your code here
number_one = 0
number_two = 1
fibonacci_list = [number_one, number_two]
for i in range (13):
    temp = number_one + number_two
    number_one = number_two
    number_two = temp
    fibonacci_list.append(temp)
print(fibonacci_list)

Question 6: Create a list of first 15 Fibonacci numbers
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377]

In [9]:
# Question 7: Find the second largest number in [45, 67, 23, 89, 12, 34, 78]
print("\nQuestion 7: Find the second largest number in [45, 67, 23, 89, 12, 34, 78]")
# Your code here
numbers = [45, 67, 23, 89, 12, 34, 78]
numbers.sort()
second_largest = numbers[-2]
print(f"Second largest number: {second_largest}")

Question 7: Find the second largest number in [45, 67, 23, 89, 12, 34, 78]
Second largest number: 78

In [10]:
# Question 8: Reverse the list [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print("\nQuestion 8: Reverse the list [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]")
# Your code here
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
numbers.reverse()
print(numbers)

Question 8: Reverse the list [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [11]:
# Question 9: Count how many times 5 appears in [1, 5, 2, 5, 3, 5, 4, 5, 6]
print("\nQuestion 9: Count how many times 5 appears in [1, 5, 2, 5, 3, 5, 4, 5, 6]")
# Your code here
numbers = [1, 5, 2, 5, 3, 5, 4, 5, 6]
count = numbers.count(5)
print(f"Number of times 5 appears: {count}")

Question 9: Count how many times 5 appears in [1, 5, 2, 5, 3, 5, 4, 5, 6]
Number of times 5 appears: 4

In [12]:
# Question 10: Create a list of prime numbers between 1 and 50
print("\nQuestion 10: Create a list of prime numbers between 1 and 50")
# Your code here
prime_list = []
for num in range(2, 51):
    for i in range(2, num):
        if (num % i) == 0:
            break
    else:
        prime_list.append(num)
print(prime_list)
print("-" * 50)

Question 10: Create a list of prime numbers between 1 and 50
[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]
--------------------------------------------------

In [13]:
# Question 11: Flatten nested list [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
print("\nQuestion 11: Flatten nested list [[1, 2, 3], [4, 5, 6], [7, 8, 9]]")
# Your code here
nested_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
flat_list = []
for sublist in nested_list:
    flat_list.extend(sublist)
print(flat_list)

Question 11: Flatten nested list [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [14]:
# Question 12: Find common elements between [1, 2, 3, 4, 5] and [4, 5, 6, 7, 8]
print("\nQuestion 12: Find common elements between [1, 2, 3, 4, 5] and [4, 5, 6, 7, 8]")
# Your code here
list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]
common_elements = []
for element in list1:
    if element in list2:
        common_elements.append(element)
print(common_elements)

Question 12: Find common elements between [1, 2, 3, 4, 5] and [4, 5, 6, 7, 8]
[4, 5]

In [15]:
# Question 13: Create a list of lists: [[1, 2], [3, 4], [5, 6]]
print("\nQuestion 13: Create a list of lists: [[1, 2], [3, 4], [5, 6]]")
# Your code here
list_of_lists = [[1, 2], [3, 4], [5, 6]]
print(list_of_lists)

Question 13: Create a list of lists: [[1, 2], [3, 4], [5, 6]]
[[1, 2], [3, 4], [5, 6]]

In [16]:
# Question 14: Find the sum of each sublist in [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
print("\nQuestion 14: Find the sum of each sublist in [[1, 2, 3], [4, 5, 6], [7, 8, 9]]")
# Your code here
list_of_lists = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
sum_of_sublist1 = sum(list_of_lists[0])
sum_of_sublist2 = sum(list_of_lists[1])
sum_of_sublist3 = sum(list_of_lists[2])
print(sum_of_sublist1)
print(sum_of_sublist2)
print(sum_of_sublist3)

Question 14: Find the sum of each sublist in [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
6
15
24

In [17]:
# Question 15: Transpose the matrix [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
print("\nQuestion 15: Transpose the matrix [[1, 2, 3], [4, 5, 6], [7, 8, 9]]")
# Your code here

Question 15: Transpose the matrix [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [18]:
# Question 16: Find the maximum value in each sublist of [[1, 5, 3], [9, 2, 7], [4, 8, 6]]
print("\nQuestion 16: Find the maximum value in each sublist of [[1, 5, 3], [9, 2, 7], [4, 8, 6]]")
# Your code here
list_of_lists = [[1, 5, 3], [9, 2, 7], [4, 8, 6]]
maximum_of_sublist1 = max(list_of_lists[0])
maximum_of_sublist2 = max(list_of_lists[1])
maximum_of_sublist3 = max(list_of_lists[2])
print(maximum_of_sublist1)
print(maximum_of_sublist2)
print(maximum_of_sublist3)

Question 16: Find the maximum value in each sublist of [[1, 5, 3], [9, 2, 7], [4, 8, 6]]
5
9
8