In [1]:
# Question 20: Create a list of mixed data types: [1, "hello", 3.14, True, [1, 2, 3]]
print("\nQuestion 20: Create a list of mixed data types: [1, 'hello', 3.14, True, [1, 2, 3]]")
# Your code here

mixed_list = [1, 'hello', 3.14, True, [1, 2, 3]]
print(mixed_list)

Question 20: Create a list of mixed data types: [1, 'hello', 3.14, True, [1, 2, 3]]
[1, 'hello', 3.14, True, [1, 2, 3]]

In [3]:
# Question 21: Find the length of each string in ["apple", "banana", "cherry", "date"]
print("\nQuestion 21: Find the length of each string in ['apple', 'banana', 'cherry', 'date']")
# Your code here
my_string_list = ['apple', 'banana', 'cherry', 'date']
for my_string in my_string_list:
    print(f"Length of '{my_string}' : {len(my_string)}")

Question 21: Find the length of each string in ['apple', 'banana', 'cherry', 'date']
Length of 'apple' : 5
Length of 'banana' : 6
Length of 'cherry' : 6
Length of 'date' : 4

In [5]:
# Question 22: Create a list of tuples: [(1, 'a'), (2, 'b'), (3, 'c')]
print("\nQuestion 22: Create a list of tuples: [(1, 'a'), (2, 'b'), (3, 'c')]")
# Your code here
my_tuple_list = [(1, 'a'), (2, 'b'), (3, 'c')]
print(f"list of tuples :\n{my_tuple_list}")

Question 22: Create a list of tuples: [(1, 'a'), (2, 'b'), (3, 'c')]
list of tuples :
[(1, 'a'), (2, 'b'), (3, 'c')]

In [6]:
# Question 23: Extract first element from each tuple in [(1, 'a'), (2, 'b'), (3, 'c')]
print("\nQuestion 23: Extract first element from each tuple in [(1, 'a'), (2, 'b'), (3, 'c')]")
# Your code here
my_tuple_list = [(1, 'a'), (2, 'b'), (3, 'c')]
for my_tuple in my_tuple_list:
    print(my_tuple[0])

Question 23: Extract first element from each tuple in [(1, 'a'), (2, 'b'), (3, 'c')]
1
2
3

In [8]:
# Question 24: Create a list of dictionaries: [{'name': 'Alice', 'age': 25}, {'name': 'Bob', 'age': 30}]
print("\nQuestion 24: Create a list of dictionaries: [{'name': 'Alice', 'age': 25}, {'name': 'Bob', 'age': 30}]")
# Your code here
my_dict_list = [{'name': 'Alice', 'age': 25}, {'name': 'Bob', 'age': 30}]
print(f"List of dictionaries : {my_dict_list}")

Question 24: Create a list of dictionaries: [{'name': 'Alice', 'age': 25}, {'name': 'Bob', 'age': 30}]
List of dictionaries : [{'name': 'Alice', 'age': 25}, {'name': 'Bob', 'age': 30}]

In [9]:
# Question 25: Extract all 'name' values from list of dictionaries
print("\nQuestion 25: Extract all 'name' values from list of dictionaries")
# Your code here
my_dict_list = [{'name': 'Alice', 'age': 25}, {'name': 'Bob', 'age': 30}]
for my_dict in my_dict_list:
    print(my_dict['name'])

Question 25: Extract all 'name' values from list of dictionaries
Alice
Bob

In [12]:
# Question 26: Find the person with maximum age in list of dictionaries
print("\nQuestion 26: Find the person with maximum age in list of dictionaries")
# Your code here
my_dict_list = [{'name': 'Alice', 'age': 25}, {'name': 'Bob', 'age': 30}]
max_age = 0
max_age_person = None

for my_dict in my_dict_list:
    if my_dict['age'] > max_age:
        max_age = my_dict['age']
        max_age_person = my_dict

print(f"Person with maximum age : {max_age_person}")

Question 26: Find the person with maximum age in list of dictionaries
Person with maximum age : {'name': 'Bob', 'age': 30}

In [ ]:
# Question 29: Create a list of sets: [{1, 2, 3}, {4, 5, 6}, {7, 8, 9}]
print("\nQuestion 29: Create a list of sets: [{1, 2, 3}, {4, 5, 6}, {7, 8, 9}]")
# Your code here
my_list = [{1, 2, 3}, {4, 5, 6}, {7, 8, 9}]
print(my_list)

Question 29: Create a list of sets: [{1, 2, 3}, {4, 5, 6}, {7, 8, 9}]
[{1, 2, 3}, {4, 5, 6}, {8, 9, 7}]

In [ ]:
# Question 30: Find the union of all sets in list of sets
print("\nQuestion 30: Find the union of all sets in list of sets")
# Your code here
my_list = [{1, 2, 3}, {4, 5, 6}, {7, 8, 9}]
union_set = set()
for my_set in my_list:
    union_set = union_set.union(my_set)
print(f"List of sets: {my_list}")
print(f"Union of all sets in list of sets: {union_set}")

Question 30: Find the union of all sets in list of sets
List of sets: [{1, 2, 3}, {4, 5, 6}, {8, 9, 7}]
Union of all sets in list of sets: {1, 2, 3, 4, 5, 6, 7, 8, 9}

In [ ]:

print("\nQuestion 33: Create a nested list with different levels: [1, [2, 3], [4, [5, 6]], 7]")
# Your code here
my_list = [1, [2, 3], [4, [5, 6]], 7]
print(my_list)

Question 33: Create a nested list with different levels: [1, [2, 3], [4, [5, 6]], 7]
[1, [2, 3], [4, [5, 6]], 7]