### Problem 6.7: Pascal's Triangle (Hard)

Write a program to print Pascal's Triangle up to n rows.

Example for n=5:
```
    1
   1 1
  1 2 1
 1 3 3 1
1 4 6 4 1
```

Each number is the sum of the two numbers directly above it.

**Hint:** Use formula: C(n,k) = C(n,k-1) * (n-k+1) / k, where C(n,0)=1. Or use nested loops with list to store previous row.

In [7]:
print("Write a program to print Pascal's Triangle up to n rows.")

my_number = int(input("Enter a number: "))


for number in range(my_number):
    print(" " * (my_number - number), end="")

    value = 1

    for i in range(number+1):
        print(value, end=" ")

        value = value * (number-i) // (i +1)

    print()

Write a program to print Pascal's Triangle up to n rows.
Enter a number: 5
     1
    1 1
   1 2 1
  1 3 3 1
 1 4 6 4 1