### 1. Count how many vowels are in a given string.

In [ ]:
print("\nCount how many vowels are in a given string")
my_string = str(input("Enter a string: "))
vowels_dict = {'a':0 , 'e':0, 'i':0, 'o':0, 'u':0}
for letter in my_string:
    if letter.lower() in vowels_dict.keys():
        vowels_dict[letter.lower()] += 1

print(vowels_dict)

Count how many vowels are in a given string
Enter a string: A red bird perches on an oak in the sun
{'a': 3, 'e': 4, 'i': 2, 'o': 2, 'u': 1}

### 2. Reverse a number using only a for loop (no slicing).
Example: Input → 12345, Output → 54321

In [ ]:
print ("\nReverse a number using only a for loop.")
my_number = int(input("Enter a number: "))
length = len(str(my_number))
temp = my_number
reverse = 0
for i in range(length):
    reverse = (reverse * 10) + (temp%10)
    temp = temp // 10
print(f"The number {my_number } reversed is {reverse}")

Reverse a number using only a for loop.
Enter a number: 12345678
The number 12345678 reversed is 87654321

### 3. Find the sum of digits of a number.
Example: 5483 → 20

In [ ]:
print ("\nFind the sum of digits of a number.")

my_number = int(input("Enter a number: "))
temp = my_number
sum_digits = 0

while temp > 0:
    sum_digits += temp % 10
    temp //= 10

print(f"Sum of digits of the number {my_number} is: {sum_digits}")

Find the sum of digits of a number.
Enter a number: 5483
Sum of digits of the number 5483 is: 20

### 4. Print all even numbers between 1 and 100 using a for loop.

In [ ]:
print ("\nPrint all even numbers between 1 and 100 using a for loop.")

for number in range(1, 101):
  if number % 2 == 0:
    print(number)

Print all even numbers between 1 and 100 using a for loop.
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

### 5. Find the factorial of a number.

In [ ]:
print ("\nFind the factorial of a number.")

my_number = int(input("Enter a number: "))
factorial = 1
for number in range (1, my_number + 1):
      factorial *= number
print(f"factorial of number {my_number} is : {factorial}")

Find the factorial of a number.
Enter a number: 5
factorial of number 5 is : 120

### 6. Check whether a number is prime using a for loop.

In [ ]:
print("Check whether a number is prime using a for loop")
my_number = int(input("Enter a number: "))
if my_number <= 1:
    print(f"{my_number} is not a prime number")
elif my_number == 2:
    print(f"{my_number} is a prime number")
else:
    for i in range(2, my_number):
      if (my_number % i) == 0:
        print(f"{my_number} is not a prime number")
        break
    else:
        print(f"{my_number} is a prime number")

Check whether a number is prime using a for loop
Enter a number: 11
11 is a prime number

### 7. Print the multiplication table of a number up to 10.

In [ ]:
print("Print the multiplication table of a number up to 10.")
my_number = int(input("Enter a number: "))
for i in range(1, 11):
  print(f"{i}   x   {my_number}   = {my_number * i}")

Print the multiplication table of a number up to 10.
Enter a number: 7
1   x   7   = 7
2   x   7   = 14
3   x   7   = 21
4   x   7   = 28
5   x   7   = 35
6   x   7   = 42
7   x   7   = 49
8   x   7   = 56
9   x   7   = 63
10   x   7   = 70

### 8. Count how many digits are in a number.

In [ ]:
print("Count how many digits are in a number.")
my_number = int(input("Enter a number: "))
temp = my_number
digits = 0
while temp > 0:
    temp //= 10
    digits += 1
print(f"Number {my_number} has {digits} digits")

Count how many digits are in a number.
Enter a number: 093452
Number 93452 has 5 digits

### 9. Find the largest number in a list. Example: [4, 7, 1, 9, 3]

In [ ]:
print("Find the largest number in a list. Example: [4, 7, 1, 9, 3]")
my_list = [4, 7, 1, 9, 3]
largest = my_list[0]
for number in my_list:
  if number > largest:
    largest = number
print(f"Largest number in the list is {largest}")

Find the largest number in a list. Example: [4, 7, 1, 9, 3]
Largest number in the list is 9

### 10. Print the following pattern for n = 4:

In [ ]:
# ★
# ★★
# ★★★
# ★★★★

print("Print the pattern:")
my_number = int(input("Enter a number: "))
for i in range(1, my_number + 1):
  print("*" * i)

Print the following pattern for n = 4:
Enter a number: 4
*
**
***
****

### 11. From 1 to 50, find:
#### a) sum of even numbers
#### b) sum of odd numbers

In [ ]:
print("From 1 to 50, find:")
print("a) sum of even numbers")
print("b) sum of odd numbers\n")

sum_even = 0
sum_odd = 0
for number in range(1, 51):
  if number % 2 == 0:
    sum_even += number
  else:
    sum_odd += number
print(f"Sum of even numbers is: {sum_even}")
print(f"Sum of odd numbers is: {sum_odd}")

From 1 to 50, find:
a) sum of even numbers
b) sum of odd numbers

Sum of even numbers is: 650
Sum of odd numbers is: 625

### 12. Remove all spaces from a string.
Example: "data science rocks" → "datasciencerocks"

In [ ]:
print("Remove all spaces from a string.")
my_string = str(input("Enter a string: \n"))
new_string = ""
for letter in my_string:
  if letter == " ":
    continue
  else:
    new_string += letter
print(f"New string after removing space is:\n{new_string}")

Remove all spaces from a string.
Enter a string:
data science rocks
New string after removing space is:
datasciencerocks

### 13. Check whether a string is a palindrome.
Example: "madam"

In [ ]:
print("Check whether a string is a palindrome")
user_string = input("Enter a string: ")
length = len(user_string)
is_palindrome = True
for i in range(0, length // 2):
    if user_string[i] != user_string[length - 1 - i]:
        is_palindrome = False
        break

if is_palindrome:
    print(f"'{user_string}' is a palindrome")
else:
    print(f"'{user_string}' is not a palindrome")

Check whether a string is a palindrome
Enter a string: malayalam
'malayalam' is a palindrome

### 14. Find duplicate values in a list.
Example: [1,2,3,2,4,5,1]

In [62]:
print("Find duplicate values in a list.")
my_list = [1,2,3,2,4,5,1]
my_dict = {}
for number in my_list:
  if number in my_dict.keys():
        my_dict[number] += 1
        print(f"Number {number} is a duplicate")
  else:
        my_dict[number] = 1

Find duplicate values in a list.
Number 2 is a duplicate
Number 1 is a duplicate

### 15. Print the frequency of each character in a string.
Example: "banana"

In [54]:
print("Print the frequency of each character in a string.")

my_string = str(input("Enter a string: "))
my_dict = {}

for letter in my_string.lower():
    if letter in my_dict.keys():
        my_dict[letter] += 1
    else:
        my_dict[letter] = 1

print(my_dict)

Print the frequency of each character in a string.
Enter a string: banana
{'b': 1, 'a': 3, 'n': 2}