In [25]:
# SET DATATYPE ASSIGNMENT
# ======================

# SOLVED EXAMPLE
# --------------
# Question: Find the union of two sets
print("SOLVED EXAMPLE:")
print("Find the union of two sets")
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
union_set = set1.union(set2)
print(f"Set 1: {set1}")
print(f"Set 2: {set2}")
print(f"Union: {union_set}")
print("-" * 50)

SOLVED EXAMPLE:
Find the union of two sets
Set 1: {1, 2, 3, 4, 5}
Set 2: {4, 5, 6, 7, 8}
Union: {1, 2, 3, 4, 5, 6, 7, 8}
--------------------------------------------------

In [26]:
# ASSIGNMENT QUESTIONS
# ===================

# Question 1: Create a set of first 10 natural numbers
print("Question 1: Create a set of first 10 natural numbers")
# Your code here
numbers = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
print(numbers)

Question 1: Create a set of first 10 natural numbers
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [27]:
# Question 2: Add element 11 to set {1, 2, 3, 4, 5}
print("\nQuestion 2: Add element 11 to set {1, 2, 3, 4, 5}")
# Your code here
numbers = {1, 2, 3, 4, 5}
numbers.add(11)
print(numbers)

Question 2: Add element 11 to set {1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 11}

In [28]:
# Question 3: Remove element 3 from set {1, 2, 3, 4, 5, 6}
print("\nQuestion 3: Remove element 3 from set {1, 2, 3, 4, 5, 6}")
# Your code here
numbers = {1, 2, 3, 4, 5, 6}
numbers.remove(3)
print(numbers)

Question 3: Remove element 3 from set {1, 2, 3, 4, 5, 6}
{1, 2, 4, 5, 6}

In [29]:
# Question 4: Find the intersection of {1, 2, 3, 4, 5} and {4, 5, 6, 7, 8}
print("\nQuestion 4: Find the intersection of {1, 2, 3, 4, 5} and {4, 5, 6, 7, 8}")
# Your code here
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
intersection_set = set1.intersection(set2)
print(f"\nThe intersection of {set1} and {set2} is: {intersection_set}")

Question 4: Find the intersection of {1, 2, 3, 4, 5} and {4, 5, 6, 7, 8}

The intersection of {1, 2, 3, 4, 5} and {4, 5, 6, 7, 8} is: {4, 5}

In [30]:
# Question 5: Find the difference between {1, 2, 3, 4, 5} and {4, 5, 6, 7, 8}
print("\nQuestion 5: Find the difference between {1, 2, 3, 4, 5} and {4, 5, 6, 7, 8}")
# Your code here
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
difference_set = set1.difference(set2)
print(f"\nThe difference between {set1} and {set2} is: {difference_set}")

Question 5: Find the difference between {1, 2, 3, 4, 5} and {4, 5, 6, 7, 8}

The difference between {1, 2, 3, 4, 5} and {4, 5, 6, 7, 8} is: {1, 2, 3}

In [31]:
# Question 6: Check if 5 is in set {1, 2, 3, 4, 6, 7, 8}
print("\nQuestion 6: Check if 5 is in set {1, 2, 3, 4, 6, 7, 8}")
# Your code here
numbers = {1, 2, 3, 4, 6, 7, 8}
find = 5 in numbers
print(find)

Question 6: Check if 5 is in set {1, 2, 3, 4, 6, 7, 8}
False

In [32]:
# Question 7: Find the length of set {'a', 'b', 'c', 'd', 'e'}
print("\nQuestion 7: Find the length of set {'a', 'b', 'c', 'd', 'e'}")
# Your code here
letters = {'a', 'b', 'c', 'd', 'e'}
length = len(letters)
print(f"\nThe length of the set is: {length}")

Question 7: Find the length of set {'a', 'b', 'c', 'd', 'e'}

The length of the set is: 5

In [33]:
# Question 8: Create a set of vowels from string "hello world"
print("\nQuestion 8: Create a set of vowels from string 'hello world'")
# Your code here
string = "hello world"
vowels = {'a', 'e', 'i', 'o', 'u'}
set_vowels = set()
for char in string:
    if char in vowels:
        set_vowels.add(char)
print(f"\nThe set of vowels in the string is: {set_vowels}")

Question 8: Create a set of vowels from string 'hello world'

The set of vowels in the string is: {'e', 'o'}

In [34]:
# Question 9: Remove duplicates from list [1, 2, 2, 3, 4, 4, 5, 6, 6, 7] using set
print("\nQuestion 9: Remove duplicates from list [1, 2, 2, 3, 4, 4, 5, 6, 6, 7] using set")
# Your code here
numbers_list = [1, 2, 2, 3, 4, 4, 5, 6, 6, 7]
numbers_set = set(numbers_list)
print(numbers_set)
numbers_list = list(numbers_set)
print(numbers_list)

Question 9: Remove duplicates from list [1, 2, 2, 3, 4, 4, 5, 6, 6, 7] using set
{1, 2, 3, 4, 5, 6, 7}
[1, 2, 3, 4, 5, 6, 7]

In [35]:
# Question 10: Check if {1, 2, 3} is a subset of {1, 2, 3, 4, 5, 6}
print("\nQuestion 10: Check if {1, 2, 3} is a subset of {1, 2, 3, 4, 5, 6}")
# Your code here
numbers_set = {1, 2, 3, 4, 5, 6}
numbers_subset = {1, 2, 3}
is_subset = set(numbers_subset).issubset(set(numbers_set))
print(is_subset)

Question 10: Check if {1, 2, 3} is a subset of {1, 2, 3, 4, 5, 6}
True