In [1]:
# TUPLE DATATYPE ASSIGNMENT
# ========================

# SOLVED EXAMPLE
# --------------
# Question: Find the sum and product of all elements in a tuple
print("SOLVED EXAMPLE:")
print("Find the sum and product of all elements in a tuple")
numbers = (2, 4, 6, 8, 10)
sum_tuple = sum(numbers)
product = 1
for num in numbers:
    product *= num
print(f"Tuple: {numbers}")
print(f"Sum: {sum_tuple}")
print(f"Product: {product}")
print("-" * 50)

SOLVED EXAMPLE:
Find the sum and product of all elements in a tuple
Tuple: (2, 4, 6, 8, 10)
Sum: 30
Product: 3840
--------------------------------------------------

In [4]:
# ASSIGNMENT QUESTIONS
# ===================

# Question 1: Create a tuple of first 10 natural numbers
print("Question 1: Create a tuple of first 10 natural numbers")
# Your code here
natural_numbers = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
print(natural_numbers)

Question 1: Create a tuple of first 10 natural numbers
(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [7]:
# Question 2: Find the length of tuple (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
print("\nQuestion 2: Find the length of tuple (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)")
# Your code here
natural_numbers = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
print(f"Length of tuple is: {len(natural_numbers)}")

Question 2: Find the length of tuple (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
Length of tuple is: 10

In [8]:
# Question 3: Access the 3rd element from tuple ('a', 'b', 'c', 'd', 'e')
print("\nQuestion 3: Access the 3rd element from tuple ('a', 'b', 'c', 'd', 'e')")
# Your code here
letters = ('a', 'b', 'c', 'd', 'e')
print(f"The 3rd element is: {letters[2]}")

Question 3: Access the 3rd element from tuple ('a', 'b', 'c', 'd', 'e')
The 3rd element is: c

In [9]:
# Question 4: Find the maximum value in tuple (23, 45, 12, 67, 34, 89, 56)
print("\nQuestion 4: Find the maximum value in tuple (23, 45, 12, 67, 34, 89, 56)")
# Your code here
numbers = (23, 45, 12, 67, 34, 89, 56)
print(f"The maximum value is: {max(numbers)}")

Question 4: Find the maximum value in tuple (23, 45, 12, 67, 34, 89, 56)
The maximum value is: 89

In [10]:
# Question 5: Count how many times 5 appears in (1, 5, 2, 5, 3, 5, 4, 5, 6)
print("\nQuestion 5: Count how many times 5 appears in (1, 5, 2, 5, 3, 5, 4, 5, 6)")
# Your code here
numbers = (1, 5, 2, 5, 3, 5, 4, 5, 6)
print(f"5 appears {numbers.count(5)} times")

Question 5: Count how many times 5 appears in (1, 5, 2, 5, 3, 5, 4, 5, 6)
5 appears 4 times

In [11]:
# Question 6: Create a tuple of mixed data types (integer, float, string, boolean)
print("\nQuestion 6: Create a tuple of mixed data types (integer, float, string, boolean)")
# Your code here
mixed_tuple = (18, 4.7, "Karthik", True)
print(mixed_tuple)

Question 6: Create a tuple of mixed data types (integer, float, string, boolean)
(18, 4.7, 'Karthik', True)

In [12]:
# Question 7: Find the index of element 'python' in ('java', 'python', 'c++', 'javascript')
print("\nQuestion 7: Find the index of element 'python' in ('java', 'python', 'c++', 'javascript')")
# Your code here
programming_languages = ('java', 'python', 'c++', 'javascript')
index = programming_languages.index('python')
print(f"The index of 'python' is: {index}")

Question 7: Find the index of element 'python' in ('java', 'python', 'c++', 'javascript')
The index of 'python' is: 1

In [23]:
# Question 8: Check if 25 exists in tuple (10, 20, 30, 40, 50)
print("\nQuestion 8: Check if 25 exists in tuple (10, 20, 30, 40, 50)")
# Your code here
numbers = (10, 20, 30, 40, 50)
print(25 in numbers)

Question 8: Check if 25 exists in tuple (10, 20, 30, 40, 50)
False

In [24]:
# Question 9: Create a tuple of first 5 even numbers
print("\nQuestion 9: Create a tuple of first 5 even numbers")
# Your code here
even_numbers = (2, 4, 6, 8, 10)
print(even_numbers)

Question 9: Create a tuple of first 5 even numbers
(2, 4, 6, 8, 10)

In [31]:
# Question 10: Find the average of numbers in tuple (15, 23, 31, 42, 56, 78)
print("\nQuestion 10: Find the average of numbers in tuple (15, 23, 31, 42, 56, 78)")
# Your code here
numbers = (15, 23, 31, 42, 56, 78)
average = sum(numbers)/len(numbers)
print(average)

Question 10: Find the average of numbers in tuple (15, 23, 31, 42, 56, 78)
40.833333333333336